---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Milou's corner</title>
    <link rel="stylesheet" href={{ "/assets/css/main.css" | relative_url}} />
    <!-- <script defer src={{ "/assets/js/main.js" | relative_url}}></script> -->
  </head>

  <body>
    <!-- header -->
    {% include header.html %} {% include navbar.html %}

    <!--  -->
    {{content}}

    <!--  -->
    {% include footer.html %}
  </body>
</html>
